// Colors
$primary: #007bff !default;
$secondary: #6c757d !default;
$success: #28a745 !default;
$info: #17a2b8 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$light: #f8f9fa !default;
$dark: #343a40 !default;
$muted: #6c757d !default;

// Body
$body-bg: $white !default;
$body-color: $dark !default;

// Heading
$headings-color: $dark !default;
$headings-font-weight: 500 !default;

// Border Color
$border-color: #dee2e6 !default;

// Card
$card-title-color: $dark !default;
$card-subtitle-color: $dark !default;
$card-border-color: $border-color !default;

// Table
$table-striped-bg: $light !default;
$table-hover-bg: $light !default;
$table-border-color: $border-color !default;

// Input
$form-label-color: $dark !default;
$input-border-color: $border-color !default;
$input-bg: $white !default;
$input-color: $dark !default;

// Dropdown
$dropdown-link-hover-bg: $light !default;
$dropdown-link-active-bg: $light !default;

// Navbar
$navbar-light-color: $dark !default;
$navbar-dark-color: $light !default;
