<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                 <h4 class="mt-1 mb-5 pb-1">Welcome to INSTORE</h4>
                </div>

                <form [formGroup]="loginForm">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Username</label>
                    <input formControlName="email" type="email" id="form2Example11" class="form-control"
                      placeholder=" " />
                    <i class="bi bi-person-fill position-absolute top-50 start-0 translate-middle-y"></i>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Password</label>
                    <input formControlName="password" type="password" id="form2Example22" class="form-control"
                      placeholder=" " />
                    <i class="bi bi-lock-fill position-absolute top-50 start-0 translate-middle-y"></i>
                  </div>

                  <div class="form-check d-flex  align-items-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="rememberMe">
                    <label class="form-check-label mb-0" for="rememberMe">Remember Me</label>
                  </div>

                  <button class="btn btn-primary btn-lg btn-block mb-3" type="button" (click)="login()">Log
                    in</button>

                </form>

                <div class="mt-4 text-center text-muted">
                  <p>Created by Webify Technology</p>
                </div>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
