// ----------------------------------------------
// Background Style
// ----------------------------------------------

.radial-gradient {
  position: relative;

  &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.3;
      background: radial-gradient(rgb(210, 241, 223), rgb(211, 215, 250), rgb(186, 216, 244));
      background-size: 400% 400%; // Specify background size separately for clarity
      background-position: 0% 0%; // Specify background position separately for clarity
      animation: gradient 15s ease infinite; // Simplify animation shorthand
  }

  @keyframes gradient {
      0% {
          background-position: 0% 0%;
      }
      100% {
          background-position: 100% 100%;
      }
  }
}
